<ion-header>
  <ion-toolbar>
    <ion-title>Itinéraires</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h1 class="title text-center">Mes itinéraires</h1>
  <ion-list style="padding-top: 20px">
    <ion-item *ngFor="let itinerary of itineraries" (click)="select(itinerary)" style="--padding-end: 15px; --inner-padding-end:0;">
      <span style="padding: 10px 0">{{itinerary.itineraryName}}</span><ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
