
<div style="display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column;">
    <ion-card>
        <ion-card-title style="text-align: center; color: grey">
            QR CODE
        </ion-card-title>
        <ion-card-content>
            <qrcode [qrdata]="order.orderQRCode.toString()" [size]="256" [level]="'M'"></qrcode>
        </ion-card-content>
    </ion-card>
</div>
<div padding>
    <ion-button color="primary"
                size="default"
                expand="block"
                (click)="saveAndClose()"
    >Unlock</ion-button>
    <ion-button color="light"
                size="default"
                expand="block"
                (click)="close()"
    >Cancel</ion-button>
</div>
