<ion-header>
  <ion-toolbar>
    <ion-title>Détails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="title text-center">Location {{data?.orderReference}}</h1>
    
    
        <h2>Déverrouiller locker : </h2>
        <ion-button expand="block" (click)="openQrCodeModal()"><ion-icon src="assets/icon/qr-code.svg"></ion-icon></ion-button>
      <h2>Statut : <span>{{data?.satus}}</span></h2>
      <div class="separator"></div>
    <h2>Locker de départ :</h2>
    <p>{{data?.lockerDepart}}</p>
    <p>{{data?.numeroDepart}}, {{data?.rueDepart}}</p>
    <p>{{data?.paysDepart}}</p>
    <p>N° du locker: {{data?.numLockerDepart}}</p>
    <div class="separator"></div>
    <h2>Locker de retour :</h2>
    <p>{{data?.lockerRetour}}</p>
    <p>{{data?.numeroRetour}}, {{data?.rueRetour}}</p>
    <p>{{data?.paysRetour}}</p>
    <p>N° du locker: {{data?.numLockerRetour}}</p>
 
    
</ion-content>
