<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><img src="../../../assets/icon/TheWalkingFox.svg" alt="" height="40px" style="padding-right: 10px"> The Walking Fox</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
        <h1 class="title text-center">Mes locations</h1>
        <ion-list style="padding-top: 20px">
            <ion-item *ngFor="let item of data" (click)="onItemClicked(item)" style="--padding-end: 15px; --inner-padding-end:0;">
                    <span style="padding: 10px 0">{{item.orderReference}}</span><ion-icon slot="end" name="arrow-dropright"></ion-icon>

            </ion-item>
        </ion-list>
</ion-content>
