<ion-content>
  <ion-grid style="height: 100%; width: 100%">
    <ion-row align-items-center style="height: 100%; width: 100%">
      <ion-card style="width: 100%;position: relative; padding-top: 75px; padding-bottom:50px; overflow: inherit">
        <div
          style=" border-radius: 50%;position: absolute; height: 150px; width: 150px; left: calc(50% - 75px); top: -75px; z-index: 1000">
          <img src="assets/TheWalkingFox-Green.svg" alt="logo" class="img-responsive">
        </div>
        <ion-card-header>
          <h3 class="title text-center">Connexion</h3>
        </ion-card-header>
        <ion-card-content>
          <!--          <ion-item>-->
          <!--            <ion-label position="floating"><ion-icon name="person"></ion-icon> Username</ion-label>-->
          <!--            <ion-input [(ngModel)]="username"></ion-input>-->
          <!--          </ion-item>-->

          <!--          <ion-item>-->
          <!--            <ion-label position="floating"><ion-icon name="lock"></ion-icon> Password</ion-label>-->
          <!--            <ion-input type="password"-->
          <!--                       [(ngModel)]="password"></ion-input>-->
          <!--          </ion-item>-->
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="username" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="password" placeholder="Mot de Passe">
          </div>
          <ion-button (click)="login()" [disabled]="canSubmit()" color="primary" size="default" expand="block">Se
            Connecter</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>