<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qr-code">
      <ion-icon src="assets/icon/qr-code.svg"></ion-icon>
      <ion-label>Locations</ion-label>
    </ion-tab-button>

<!--    <ion-tab-button tab="camera">-->
<!--      <ion-icon name="camera"></ion-icon>-->
<!--      <ion-label>Camera</ion-label>-->
<!--    </ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>
