<ion-split-pane>
  <ion-menu>
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: var(--ion-background-color,#F8F9FA)">
      <ion-list style="background: var(--ion-item-background,var(--ion-background-color,#F8F9FA)) !important">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" style="--background: var(--ion-background-color,#F8F9FA)">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" >
            <ion-item (click)="changeitineray()" style="--background: var(--ion-background-color,#F8F9FA)">
                <ion-icon slot="start" name="globe"></ion-icon>
                <ion-label>
                    Changer d'itinéraire
                </ion-label>
            </ion-item>
        </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
              <ion-item (click)="logout()" style="--background: var(--ion-background-color,#F8F9FA)">
                  <ion-icon slot="start" name="power"></ion-icon>
                  <ion-label>
                      Se Déconnecter
                  </ion-label>
              </ion-item>
          </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
