<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="../../../assets/icon/TheWalkingFox.svg" alt="" height="40px" style="padding-right: 10px"> The Walking Fox</ion-title>
<!--    <p>lat: {{coords?.latitude}} lng: {{coords?.longitude}}</p>-->
<!--    <p>error: {{error}}</p>-->
<!--    <p>error: {{compt}}</p>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
       style="height: 100%"
       leaflet
       [leafletOptions]="options"
       [leafletLayersControl]="layersControl"
       (leafletMapReady)="onMapReady($event)"
  >
  </div>
</ion-content>
