<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="../../../assets/icon/TheWalkingFox.svg" alt="" height="40px" style="padding-right: 10px"> The Walking Fox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 20px">
      <ion-card-title>
          <h1 class="title text-center">Mes informations</h1>
        </ion-card-title>
        <ion-item>
            <ion-label position="floating">Email :</ion-label>
            <ion-input [(ngModel)]="user.username" readonly></ion-input>
          </ion-item>
        <ion-item>
          <ion-label position="floating">Nom :</ion-label>
          <ion-input [(ngModel)]="user.lastName" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Prénom :</ion-label>
          <ion-input [(ngModel)]="user.firstName" readonly></ion-input>
        </ion-item>
  </div>
    
</ion-content>
