<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Etapes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h1 class="title text-center">{{itinerary?.itineraryName}}</h1>
  <ion-list style="padding-top: 20px">
    <ion-item *ngFor="let step of steps" (click)="select(step)" style="--padding-end: 15px; --inner-padding-end:0;">
      <span style="padding: 10px 0">{{step.stepName}}</span><ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
  
</ion-content>

<style>
  .item-inner {
    padding-inline-end: 0;
  }
</style>
