// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');


@font-face {
  font-family: "Montserrat";
  src: url("assets/font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("assets/font/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("assets/font/Montserrat-SemiBold.ttf");
}

.small-modal{
  display: block !important;
  z-index: 99999 !important;
}

ion-backdrop {
  opacity: 0 !important;
}

.ion-ios-lock,
.ion-md-lock {
  content: url("assets/icon/lock.svg");
}

.ion-ios-unlock,
.ion-md-unlock {
  content: url("assets/icon/unlock.svg");
}

html.md {
  --ion-default-font: "Montserrat", "Roboto", sans-serif;
}

html.ios {
  --ion-default-font: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI", "Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

ion-button {
  text-transform: uppercase;
  font-weight: 600;
  --box-shadow : none;
  margin-top: 20px;
}

// :host {
//   border-radius: 0;
// }

.title {
  --ion-default-font: "Montserrat Semibold", "Roboto", sans-serif;
  &:after {
      display: block;
      content: '';
      background: url("assets/icon/ico-underline.svg") no-repeat center;
      height: 12px;
      margin-top: 20px;
  }
}


ion-toolbar {
  --background: var(--ion-toolbar-background,var(--ion-background-color,#f4f4f4));
}